		<style>
		  body{margin:0;}
		  a.click {color:black;
			  text-decoration: none;}
		  .saw {color:gray;}
		  #active {color:red;
		               text-decoration:underline;}
		  h1 {
				 font-size:50px;
		         text-align: center;
				 border-bottom:1px solid gray;
				 padding: 20px;
				 margin:0;
				 }
		 #grid ol {
		 border-right:1px solid gray;
		 width:100px;
		 margin:0;
		 padding: 32px;
		 }
		 #grid{
		 display:grid;
		 grid-template-columns: 150px 1fr;
		 }
		 #article{
		 padding: 20px;
		 margin:0;
		 }
		</style>
